<!-- _delete_form.html.twig -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
<button class="btn-delete" onclick="confirmDelete()">Supprimer</button>
<link rel="stylesheet" href="{{ asset('../assets/styles/DeleteStyle.css') }}">

<div class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Confirmation de suppression</h2>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-body">
            <p>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</p>
            <button class="confirm-btn" onclick="deleteUser()">Oui, supprimer</button>
            <button class="cancel-btn" onclick="closeModal()">Non, annuler</button>
        </div>
    </div>
</div>

<div class="alert-success" id="alertSuccess">
    <div class="success-icon">✔</div>
    <p>L'utilisateur a été supprimé avec succès.</p>
    <div class="progress-bar" id="progressBar"></div>
    Redirection vers la page en cours...<span class="countdown"></span>
</div>


<script>
    function confirmDelete() {
        $('.modal').css('display', 'block');
    }

    function deleteUser() {
        var csrfToken = '{{ csrf_token('delete' ~ user.id) }}';

        $.ajax({
            type: 'POST',
            url: '{{ path('app_user_crud_delete', {'id': user.id}) }}',
            data: {'_token': csrfToken},
            success: function (data) {
                if (data.success) {
                    var alertSuccess = $('#alertSuccess');
                    alertSuccess.css('display', 'block');
                    console.error(data.message || 'No message provided by the server.');

                    var countdownElement = alertSuccess.find('.countdown');
                    var countdownValue = 3;

                    var countdownInterval = setInterval(function () {
                        countdownValue--;
                        countdownElement.text(countdownValue);

                        if (countdownValue <= 0) {
                            window.location.href = '{{ path('app_user_crud_index') }}';
                            clearInterval(countdownInterval);
                        }
                    }, 1000);
                } else {
                    console.error('Failed to delete user. ' + (data.message || 'No message provided by the server.'));
                }
            },
            error: function (error) {
                console.error('An error occurred during the AJAX request.', error);
            }
        });

        $('.modal').css('display', 'none');
    }

    function closeModal() {
        $('.modal').css('display', 'none');
    }
</script>
