{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../assets/styles/EditStyle.css') }}">
{% endblock %}

{% block body %}
    <div class="edit-user-container">
        <div class="edit-user-card">
            <h1 class="edit-user-title">Edit User</h1>
            {{ include('user_crud/_form.html.twig', {'button_class': 'update-button', 'button_label': 'Update'}) }}
            <a href="{{ path('app_user_crud_index') }}" class="back-link">Back to List</a>
        </div>
    </div>
{% endblock %}
